{{!-- initial code --}}
{{!-- <div class="list-item">
  <input type="text" value={{@task.title}} readonly={{true}}/>
</div>
 --}}
{{!-- updated code simple component--}}
{{!-- <div class="list-item {{@task.state}}">
  <label class="checkbox">
    <input type="checkbox" disabled name="checked" checked={{this.isTaskArchived}}/>
    <span class="checkbox-custom" {{action 'handleArchiveTask'}}/>
  </label>
  <div class="title">
    <input type="text" readonly value={{@task.title}} placeholder="Input title" />
  </div>
  <div class="actions">
    {{#if (not-eq @task.state "TASK_ARCHIVED")}}
      <a href="/"{{action 'handlePinTask'}}><span class="icon-star"  /></a>
    {{/if}}
  </div>
</div> --}}
{{!--using addons section--}}
<div class="list-item {{@task.state}}">
  <label class="checkbox">
    <input type="checkbox" disabled name="checked" checked={{this.isTaskArchived}}/>
    <span class="checkbox-custom" {{action 'handleArchiveTask'}}/>
  </label>
  <div class="title">
    <input type="text" readonly value={{@task.title}} placeholder="Input title" style="text-overflow: ellipsis;" />
  </div>
  <div class="actions">
    {{#if (not-eq @task.state "TASK_ARCHIVED")}}
      <a href="/"{{action 'handlePinTask'}}><span class="icon-star"  /></a>
    {{/if}}
  </div>
</div>